* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #323837;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

li, a {
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #C8CBCB;
    list-style: none;
    font-size: 30px;
}

/* Container for the slideshow */
#slideshow-container {
    position: relative;
    display: flex;
    justify-content: center; /* Center the slideshow horizontally */
    align-items: center;
    width: 100%;
    overflow: hidden; /* Hide any overflow */
    max-width: 1000px; /* Adjust if needed */
    margin: auto; /* Center the container itself */
}

/* Slideshow itself */
#slideshow {
    display: flex;
    justify-content: center; /* Center slides horizontally */
    align-items: center;
    width: 100%;
}

/* Individual slides */
.slide {
    display: none; /* Hide slides by default */
    text-align: center; /* Center content inside slides */
}

.slide img {
    display: block;
    margin: 0 auto; /* Center images horizontally within slides */
    max-width: 100%; /* Ensure image does not overflow */
    height: auto;
}

/* Navigation arrows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Perfect vertical alignment */
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0; /* Aligns the next arrow to the right */
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0; /* Aligns the prev arrow to the left */
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#drop-header {
    margin-top: 1%;
    margin-left:  50%;
    transform: translateX(-50%);
    position: absolute;
    color: goldenrod;
    font-size: 50px;
    text-decoration: underline;
}

#model-drop-down {
    margin-top: 5%;
    margin-left:  50%;
    transform: translateX(-50%);
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
}

#select-model {
    width: 200px;
    font-size: 15px;
    padding: 5px;
    background-color: grey;
    color: goldenrod;
}

#model-options {
    color: red;
    background-color: black;
}

.footer {
    height: 2.5rem;
    width: 100%;
    position: absolute;
    padding: 30px 10%;
    bottom: 0;
}

.footer-content {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    color: #C8CBCB;
    font-weight: bold;
}

.footer-content p, a{
    background-color: #6C7574;
    font-size: 18px;
}

.info {
    background-color: #6C7574;
}

.footer-col {
    white-space: nowrap;
    background-color: #6C7574;
    flex-basis: 25%;
    text-decoration: underline;
    padding: 30px 10%;
    font-size: 20px;
}